<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>56551719511-a01cht396qniuu8btte0tb02fk53abl5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.56551719511-a01cht396qniuu8btte0tb02fk53abl5</string>
	<key>API_KEY</key>
	<string>AIzaSyDdqOi6s9iKGbYL1zCCqjQ3HO4F0yWusso</string>
	<key>GCM_SENDER_ID</key>
	<string>56551719511</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.otgride.ios.rider.staging</string>
	<key>PROJECT_ID</key>
	<string>otg-ride-1540958541959</string>
	<key>STORAGE_BUCKET</key>
	<string>otg-ride-1540958541959.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:56551719511:ios:5bb541fa01950314</string>
	<key>DATABASE_URL</key>
	<string>https://otg-ride-1540958541959.firebaseio.com</string>
</dict>
</plist>