<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>194301115437-clto2d7monqg4811v5dupbd64695edpk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.194301115437-clto2d7monqg4811v5dupbd64695edpk</string>
	<key>API_KEY</key>
	<string>AIzaSyAt-Un7T60AMWkS2E3tiEu57D2c-4cF9DE</string>
	<key>GCM_SENDER_ID</key>
	<string>194301115437</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.otgride.ios.rider.staging</string>
	<key>PROJECT_ID</key>
	<string>fuutr-rider</string>
	<key>STORAGE_BUCKET</key>
	<string>fuutr-rider.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:194301115437:ios:5bb541fa01950314</string>
	<key>DATABASE_URL</key>
	<string>https://fuutr-rider.firebaseio.com</string>
</dict>
</plist>